root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{php, html, twig}]
indent_style = space
indent_size = 4

[*.{js, css, pcss, svelte, json}]
indent_style = space
indent_size = 2

[*.*rc]
indent_style = space
indent_size = 2

